## Import sqlite3 module

In [1]:
import sqlite3

## Connect to a database

#### Connect to an existing database or create a new one

In [2]:
conn = sqlite3.connect('./db/demo_lecture3.db')

#### Get a cursor object to handle SQL statements

In [3]:
cur = conn.cursor()

#### Get all tables in the database

In [4]:
tablename = cur.execute("select name from sqlite_master where type='table' and name!='sqlite_sequence'").fetchall()
print(tablename)

[('class',), ('student',), ('course',), ('score',)]

#### Drop all existing tables

In [5]:
for name in tablename:
    cur.execute(f"drop table if exists {name[0]}")

#### Load data from an excel file

In [20]:
import pandas as pd

df_class = pd.read_excel('./db/demo_lecture3.xlsx', sheet_name='class')
df_student = pd.read_excel('./db/demo_lecture3.xlsx', sheet_name='student')
df_student['birthday'] = df_student['birthday'].astype(str)
df_course = pd.read_excel('./db/demo_lecture3.xlsx', sheet_name='course')
df_score = pd.read_excel('./db/demo_lecture3.xlsx', sheet_name='score')

#### Convert pandas.dataframe to database table

In [21]:
df_class.to_sql('class', conn, if_exists='replace', index=False)
df_student.to_sql('student', conn, if_exists='replace', index=False)
df_course.to_sql('course', conn, if_exists='replace', index=False)
df_score.to_sql('score', conn, if_exists='replace', index=False)

20

## Execute SQL statements

#### Select

In [22]:
sqlstr = 'select * from student'
cur.execute(sqlstr)

#### Get all rows of the result

In [23]:
cur.fetchall()

[(701001, '李小勇', '男', '1990-12-21', '南昌', '汉族', 'CS0701'),
 (701008, '王红', '男', '1992-04-26', '上海', '汉族', 'CS0701'),
 (703010, '李宏冰', '女', '1992-03-09', '太原', '蒙古族', 'AC0703'),
 (703045, '王红', '男', '1992-04-26', '北京', '汉族', 'AC0703'),
 (802002, '刘方晨', '女', '1990-11-11', '南昌', '傣族', 'ISO802'),
 (802005, '王红敏', '女', '1990-10-01', '上海', '蒙古族', 'ISO802')]

#### Execute an insert statement

In [24]:
sqlstr = "insert into student values(450216,'李四','男', '1990-12-09', '北京', '傈僳族', 'EE0026')"
cur.execute(sqlstr)

#### Commit the changes

In [25]:
conn.commit()

#### Print the table

In [26]:
cur.execute('select * from student').fetchall()

[(701001, '李小勇', '男', '1990-12-21', '南昌', '汉族', 'CS0701'),
 (701008, '王红', '男', '1992-04-26', '上海', '汉族', 'CS0701'),
 (703010, '李宏冰', '女', '1992-03-09', '太原', '蒙古族', 'AC0703'),
 (703045, '王红', '男', '1992-04-26', '北京', '汉族', 'AC0703'),
 (802002, '刘方晨', '女', '1990-11-11', '南昌', '傣族', 'ISO802'),
 (802005, '王红敏', '女', '1990-10-01', '上海', '蒙古族', 'ISO802'),
 (450216, '李四', '男', '1990-12-09', '北京', '傈僳族', 'EE0026')]

#### Convert database table into pandas.dataframe

In [27]:
df_student = pd.read_sql('select * from student', conn)
df_student

   studentNo studentName sex    birthday native nation classNo
0     701001         李小勇   男  1990-12-21     南昌     汉族  CS0701
1     701008          王红   男  1992-04-26     上海     汉族  CS0701
2     703010         李宏冰   女  1992-03-09     太原    蒙古族  AC0703
3     703045          王红   男  1992-04-26     北京     汉族  AC0703
4     802002         刘方晨   女  1990-11-11     南昌     傣族  ISO802
5     802005         王红敏   女  1990-10-01     上海    蒙古族  ISO802
6     450216          李四   男  1990-12-09     北京    傈僳族  EE0026

## Close the connection

In [28]:
cur.close()
conn.close()